*, *::before, *::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul, ol{
    list-style: none;
}

@import "navbar";
@import "main";
@import "choose";
@import "fresh";
@import "for"
